/* Noting here that all these classes could be applied directly to the markup
but this file demonstrates how easy it is to add direct CSS (with custom
processing!) */

.ks-button {
  &:hover {
    transition: all 0.2s linear;
  }
  &.ks-button--icon {
    display: flex;
    & svg {
      width: 20px;
      height: auto;
    }
  }
  &.ks-button--icon-left {
    & svg {
      @apply mr-xs;
    }
  }
  &.ks-button--icon-right {
    flex-direction: row-reverse;
    & svg {
      @apply ml-xs;
    }
  }
  &.bg-solid {
    @apply bg-primary text-secondary;
  }
}
