.ks-message {
  border-radius: 3px;
  color: var(--color-text-default);
  padding: var(--spacing-m) var(--spacing-m);
}

.ks-message__header {
  font-size: 20px;
  font-weight: 500;
}

.ks-message__header + .ks-message__inner {
  margin-top: var(--spacing-s);
  padding-top: var(--spacing-xs);
}

.ks-message__inner {
  font-weight: 300;
}

.ks-message__inner + .ks-message__footer {
  margin-top: var(--spacing-m);
}

.ks-message__footer a:link, .ks-message__footer a:visited {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.ks-message__footer a:hover {
  text-decoration: underline;
}

.ks-message__footer a {
  margin-right: var(--spacing-m);
}

.ks-message--type-info {
  background-color: var(--color-light-blue);
}

.ks-message--type-info .ks-message__header {
  color: var(--color-text-default);
}

.ks-message--type-info .ks-message__footer a:link,
.ks-message--type-info .ks-message__footer a:visited {
  color: var(--color-blue-deep);
}

.ks-message--type-success {
  background-color: var(--color-base-green);
}

.ks-message--type-success .ks-message__header {
  color: var(--color-text-default);
}

.ks-message--type-success .ks-message__footer a:link,
.ks-message--type-success .ks-message__footer a:visited {
  color: var(--color-turquoise-deep);
}

.ks-message--type-warning {
  background-color: var(--color-base-yellow);
}

.ks-message--type-warning .ks-message__header {
  color: var(--color-yellow-deep);
}

.ks-message--type-warning .ks-message__footer a:link,
.ks-message--type-warning .ks-message__footer a:visited {
  color: var(--color-yellow-dee);
}

.ks-message--type-danger {
  background-color: var(--color-light-red);
}

.ks-message--type-danger .ks-message__header {
  color: var(--color-text-default);
}

.ks-message--type-danger .ks-message__footer a:link,
.ks-message--type-danger .ks-message__footer a:visited {
  color: var(--color-red-deep);
}
