@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* :root {
  --typography-body-font-url: 'https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6J6MmBp0u-.woff2';
}

@font-face {
  font-family: 'Pacifico';
  src: url(var(--typography-body-font-url)), format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pacifico', cursive;
} */
